<mat-card>
    <h3>Add Employee</h3>

    <form (ngSubmit)="onFormSubmit()" [formGroup]="addForm">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name*">
            <mat-error *ngIf="addForm.get('name').hasError('required')">
                Name is required
            </mat-error>
            <mat-error *ngIf="addForm.get('name').hasError('pattern')">
                Minimum length is 4 characters
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="phone" placeholder="Phone*">
            <mat-error *ngIf="addForm.get('phone').hasError('required')">
                Phone is required
            </mat-error>
            <mat-error *ngIf="addForm.get('phone').hasError('pattern')">
                Only numbers are accepted
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="city" placeholder="City">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="addressLine1" placeholder="Address Line 1">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="addressLine2" placeholder="Address Line 2">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="postalCode" placeholder="Postal Code">
        </mat-form-field>
        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="addForm.invalid==true">Add</button>
            <button mat-stroked-button color="primary" (click)="goBack()">Go Back</button>
        </div>
    </form>
</mat-card>